@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

$primary-color: #F8E196;
$breakpoint-tablet: 768px;

// NAVBAR
.nav-bar-logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    span {
        color: $primary-color;
    }
    
}

.nav-bar-logo:hover {
    color: black;
}

.navbar-burger {
    top: 5px;
}

.btn-sublasa {
    border-radius: 10px;
    font-weight: 200;
}

.btn-sublasa-primary {
    background-color: $primary-color;
    color: black;
    border: none;
}

.btn-sublasa-secondary {
    background-color: white;
    border-color: $primary-color;
    
}

#navbar-logo-link {
    border-bottom: none;
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    color: black;
    border-bottom: 2px $primary-color solid;
}

//LANDING BANNER

// NEWSLETTER CARD
.card-carol {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5%;
    height: 500px;
}

// NEWSLETTER CARD
.newletter-card {
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.6)
      ),url('https://images.unsplash.com/photo-1478358161113-b0e11994a36b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.newsletter-card-button {
    align-self: flex-end;
}

.active-card {
    box-shadow: 3px 3px 5px 6px #ccc;
    height: 600px;
    width: 400px;
}

//SECTION DIVIDER
.sectionDividerContainer {
    display: grid;
    align-items: center;
    grid-template-rows: 1/2;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;
}

.section-divider-title {
    font-size: 2.5em;
    align-self: center;
    text-transform: uppercase;
}

.sectionDividerLine {
    height: 2px;
    width: 100%;
    background-color: $primary-color;
}

.feature-section-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.split-tiles {
    justify-content: space-between;
}
.center-tile {
    justify-content: center;
}

//Subscribe section

.subscribe-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 50px;
    .btn-sublasa-action {
        margin-top: 20px;
        padding-left: 80px;
        padding-right: 80px;
    }
}


//TOPICS SECTION
.newsletter-section-divider {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
}

.newsletter-divider-title {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


//NEWSLETTERARTICLECONTAINER
.newsletter-article-container {
    display: grid;
    grid-template-columns: 50%;
    padding-top: 20px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
}

.newsletter-article-card {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: #3e4c4f;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//Footer
.footer {
    margin-top: 20px;
    background-color: #fafafa;
}

//ARTICLE CONTAINER
.article-container {
    display: flex;
    justify-content: center;
}

.article-container-wrapper {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 90%;
    grid-row-gap: 10px;
}

.article-navigation-wrapper {
    grid-row: 3/4;
    grid-column: 1/4;
}
.article-container {
    grid-row: 2/3;
    grid-column: 2/3;
}

.valid-check {
    color: $primary-color;
    background-color: #70788e;
    border-radius: 50%;
    padding: 2px;
}

.authentication-modal {
    background-color: #c8c8c8
}

@media only screen and (min-width: $breakpoint-tablet) {
    .navbar {
        padding: 10px 10% 0px;
    }

    .navbar-topics {
        border-right: 2px $primary-color solid;
    }
    a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
        border-bottom: 2px $primary-color solid;
        background-color: white;
    }


    .newsletter-section-divider {
        grid-template-columns: 20% 80%;
        align-items: center;
    }
    
    .newsletter-divider-title {
        font-size: 1.5em;

        .btn-subscribe-section {
            
        }
    }

    .newsletter-article-container {
        display: grid;
        grid-template-columns: repeat(4, 20%);
        grid-template-rows: 300px;
        grid-column-gap: 5%;
        justify-content: end;
    }
    
    .article-container-wrapper {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 10% 90%;
        grid-row-gap: 10px;
    }
    
    .article-navigation-wrapper {
        grid-row: 1/2;
        grid-column: 1/4;
        position: absolute;
    }
    
    .article-navigation {
        position: fixed;
    }
    .modal-button-container {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;

        .btn-sublasa {
            margin-right: 10px;
        }

        .btn-sublasa-primary {
            padding-right: 40px;
            padding-left: 40px;
        }
    }
}